body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color:black;
}
nav {
    background-color: #222222df;
    padding: 30px;
    position: relative;
}

.nav-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    color: white; 
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links li a:hover {
    color: cyan;
}

@media (max-width: 600px) {
    .nav-toggle {
        display: block;
    }
    
    .nav-links {
        position: absolute;
        top: 80px;
        left: 0; 
        right: 0;
        width: 100%;
        background-color: #222;
        flex-direction: column;
        display: none; 
        padding: 15px 0;
        gap: 0;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .nav-links li a:hover {
        color: cyan;
    }
}
section {
    padding: 40px 30px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.about-img img {
    width: 420px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.about-drone img {
    width: 420px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.about-text {
    max-width: 400px;
    font-size: 18px;
    line-height: 1.6;
}
.about-text img {
    width: 45%; 
    margin: 5px; 
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.drone-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}
.about-text-drone {
    max-width: 400px;
    font-size: 18px;
    line-height: 1.6;
}
.about-text-drone img {
    width: 20%; 
    margin: 5px; 
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.skills {
    margin-top: 30px;
    text-align: center;
}

.skills h3 {
    margin-bottom: 15px;
    font-size: 22px;
}

.skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skills li {
    background-color: #222;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.skills li:hover {
    background-color: cyan;
    color: black;
    transform: scale(1.05);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.project-list article {
    flex: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-list article:hover {
    transform: scale(1.05);
}
.project-list article a {
    display: inline-block;        
    margin-top: 10px;            
    padding: 8px 12px;            
    background-color: #222;      
    color: white;                 
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.project-list article a:hover {
    background-color: cyan;
    color: black;
    transform: scale(1.05);
}
.task-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.task-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.task-card:hover {
    transform: scale(1.05);
}

.task-card a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #222;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.task-card a:hover {
    background-color: cyan;
    color: black;
}

.contact {
    text-align: center;
}
.contact-info {
    display: flex;
    justify-content: center; 
    align-items: center;      
    gap: 20px;                
    flex-wrap: wrap;          
    padding: 20px 0;
}
.contact a img {
    width: 80px;
    transition: transform 0.2s;
}

.contact a img:hover {
    transform: scale(1.1);
}
.to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #fe650695;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15%;
    transition: 0.3s;
}

.to-top:hover {
    background-color: cyan;
    color: black;
    transform: scale(1.1);
}
 html {
    scroll-behavior:smooth;
}


@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .project-list {
        flex-direction: column;
        align-items: center;
    }
    .about-img img {
    width: 340px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }
    .about-drone img{
    width: 340px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
}
footer {
    background-color: #222222df;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden; 
}